.cost {
  padding: 10px;
  font-size: small;
  color: black;
}

.time-block {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

input[type="date"],
input[type="time"] {
  padding: 4px;
}

.buttons {
  display: flex;
}

.add-button,
.ocr-button {
  width: 50%;
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}
